<div id="gameDiv">
	<p id="instructions">Recognise this person?<br>Type in their name and click 'I remember you!' to try your luck.</p>
	<form class="form-inline" {{action "checkGuess" on="submit"}}>

		<div id="gameStats">
			<ul class="column">
      			<li class="box10">
					<span id="score">Score: {{score}} points</span><br>
					<span id="numPeopleToGuess">{{numPeopleToGuess}} people left to guess</span>
				</li>
			</ul>
		</div>

		{{#if isGameOver}}
		  <p id="gameOverMessage">That's all we have folks! Thanks for playing.</p>
		{{/if}}


		{{#if isCorrectGuess}}
		  <p id="correctGuess">Nice one!</p>
		{{/if}}

		<img id="faceImage" src="{{currentPersonBeingGuessed.photoURL}}"/>

		{{input value=guess class="nameGuess"}}

		{{#if isIncorrectGuess}}
		  <p id="incorrectGuess">Sorry that wasn't quite right. Here's a clue:<br>
		  	{{currentPersonBeingGuessed.description}}
		  </p>
		{{/if}}

		<div id="submitGuessButtonDiv" class="controls">
			<input id='submitGuessButton' name='submitGuessButton' {{bind-attr disabled=isntValid}} type="submit" class="btn btn-primary" value="I remember you!">
		</div>
	</form>
</div>

