<div id="gameDiv">
	<p id="instructions">Recognise this person?<br>Type in their name and click 'I remember you!' to try your luck.</p>
	Guess Who!<br>
	<form class="form-inline" {{action "checkGuess" on="submit"}}>

		<p id="score">Score: {{score}} points</p>

		{{#if isCorrectGuess}}
		  <p id="correctGuess">Nice one!</p>
		{{/if}}

		<img id="faceImage" src="{{currentPersonBeingGuessed.photoURL}}"/>

		{{input value=guess class="nameGuess"}}

		{{#if isIncorrectGuess}}
		  <p id="incorrectGuess">Sorry that wasn't quite right. Here's a clue:<br>
		  	{{currentPersonBeingGuessed.description}}
		  </p>
		{{/if}}

		<div class="controls">
			<input id='submitGuessButton' name='submitGuessButton' {{bind-attr disabled=isntValid}} type="submit" class="btn btn-primary" value="I remember you!">
		</div>
	</form>
</div>

